.springBackgroundBranch {
  animation:sway 5s infinite linear alternate;
  border-bottom:none;
  border-left:solid 6px #060;
  border-right:none;
  border-top:none;
  border-top-left-radius:100%;
  bottom:0;
  left:25%;
  position:absolute;
  transform-origin:bottom;
  width:50px;
}

.springBackgroundBranch:nth-child(1) {
  border-width:6px;
  height:200px;
}

.springBackgroundBranch:nth-child(2) {
  border-width:6px;
  height:300px;
}

.springBackgroundBranch:nth-child(3) {
  border-color:#070;
  border-width:12px;
  height:400px;
}

.springBackgroundBranch:nth-child(4) {
  animation:sway 5s infinite linear alternate-reverse;
  border-left:none;
  border-right:solid 12px #070;
  border-top-right-radius:100%;
  height:350px;
  left:auto;
  right:74%;
}

.springBackgroundBranch:nth-child(5) {
  animation:sway 5s infinite linear alternate-reverse;
  border-left:none;
  border-right:solid 9px #060;
  border-top-right-radius:100%;
  height:250px;
  left:auto;
  right:75%;
}

.springBackgroundBranch:nth-child(6) {
  animation:sway 5s infinite linear alternate-reverse;
  border-left:none;
  border-right:solid 6px #050;
  border-top-right-radius:100%;
  height:150px;
  left:auto;
  right:75%;
}

@keyframes sway {
  0% {
    width:50px;
  }
  100% {
    width:300px;
  }
}


.springBackgroundBranch:nth-child(7) {
  margin-left: 50px;
  border-width:12px;
  height:200px;
}

.springBackgroundBranch:nth-child(8) {
  border-width:6px;
  height:300px;
}

.springBackgroundBranch:nth-child(9) {
  border-color:#070;
  border-width:12px;
  height:400px;
}
