@keyframes up {
	0% {
		transform: translateY(0%);
	}

	50% {
		transform: translateY(100px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes across {
	from {
		right: 0%;
	}

	to {
		right: 100%;
	}
}


@keyframes fall {
	0% {
		top: -10%;
	}

	100% {
		top: 100%;
	}
}

@keyframes shake {
	0% {
		transform: translatex(0);
	}
	50% {
		transform: translatex(50px);
	}
	100% {
		transform: translatex(0);
	}
}

.fa-winterBackGroundSnowflake {
	color: #ecf2f8;
  font-style: normal;
}
.fa-winterBackGroundSnowflake:before {
  content: "❆";
}
.winterBackGround {
	width: 100%;
	height: 100%;
	position: absolute;
}

.winterBackGroundSnowflake {
	animation-name: fall, shake;
	animation-duration: 10s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 200px;
	z-index: -5;
	filter: blur(0.5px);
}

.winterBackGroundSnowflake1 {
	animation-name: fall, shake;
	animation-duration: 10s, 3s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 500px;
	top: -100px;
	animation-delay: 1s, 1s;
	z-index: 7;
	filter: blur(0.5px);
}

.winterBackGroundSnowflake2 {
	animation-name: fall, shake;
	animation-duration: 8s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 20px;
	top: -100px;
	animation-delay: 2s, 2s;
	z-index: 7;
	filter: blur(0.5px);
}

.winterBackGroundSnowflake3 {
	animation-name: fall, shake;
	animation-duration: 9s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	right: 170px;
	top: -100px;
	animation-delay: 3s, 5s;
	z-index: 5;
	filter: blur(0.7px);
}

.winterBackGroundSnowflake4 {
	animation-name: fall, shake;
	animation-duration: 15s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	right: 430px;
	top: -100px;
	animation-delay: 4s, 4s;
	z-index: 5;
}

.winterBackGroundSnowflake5 {
	animation-name: fall, shake;
	animation-duration: 15s, 4s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 500px;
	top: -100px;
	animation-delay: 6s, 2s;
	font-size: 2rem;
	z-index: 6;
	filter: blur(0.5px);
}

.winterBackGroundSnowflake6 {
	animation-name: fall, shake;
	animation-duration: 12s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 75px;
	top: -100px;
	animation-delay: 3.2s, 2s;
	font-size: 2rem;
	z-index: 6;
}

.winterBackGroundSnowflake7 {
	animation-name: fall, shake;
	animation-duration: 11s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 650px;
	top: -100px;
	animation-delay: 7.2s, 1s;
	z-index: 7;
}

.winterBackGroundSnowflake8 {
	animation-name: fall, shake;
	animation-duration: 12s, 4s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 820px;
	top: -100px;
	animation-delay: 4s, 2s;
	font-size: 2rem;
	z-index: 5;
	filter: blur(0.5px);
}

.winterBackGroundSnowflake9 {
	animation-name: fall, shake;
	animation-duration: 12s, 4s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 170px;
	top: -100px;
	animation-delay: 5s, 2s;
	font-size: 2rem;
	z-index: 5;
	filter: blur(0.3px);
}

.winterBackGroundSnowflake10 {
	animation-name: fall, shake;
	animation-duration: 15s, 9s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 350px;
	top: -100px;
	animation-delay: 2.7s, 2s;
	font-size: 3rem;
	z-index: 7;
}

.winterBackGroundSnowflake11 {
	animation-name: fall, shake;
	animation-duration: 12s, 7s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	right: 400px;
	top: -100px;
	animation-delay: 0.5s, 2s;
	font-size: 3rem;
	z-index: 7;
}

.winterBackGroundSnowflake12 {
	/*small*/
	animation-name: fall, shake;
	animation-duration: 12s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 470px;
	top: -100px;
	animation-delay: 5s, 2s;
	z-index: 7;
	filter: blur(0.9px);
}

.winterBackGroundSnowflake13 {
	/*small*/
	animation-name: fall, shake;
	animation-duration: 10s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	right: 220px;
	top: -100px;
	animation-delay: 1s, 2s;
	z-index: 7;
	filter: blur(0.6px);
}

.winterBackGroundSnowflake14 {
	/*small*/
	animation-name: fall, shake;
	animation-duration: 9s, 4s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	right: 140px;
	top: -100px;
	animation-delay: 2s, 2s;
	z-index: 7;
	filter: blur(0.5px);
}

.winterBackGroundSnowflakeD1 {
	animation-name: fall, shake;
	animation-duration: 12s, 2.5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 350px;
	top: -120px;
	animation-delay: 0.8s, 1.2s;
	z-index: 6;
}

.winterBackGroundSnowflakeD2 {
	animation-name: fall, shake;
	animation-duration: 8s, 3.2s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 650px;
	top: -150px;
	animation-delay: 1.5s, 1s;
	z-index: 8;
}

.winterBackGroundSnowflakeD3 {
	animation-name: fall, shake;
	animation-duration: 11s, 2.8s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	right: 200px;
	top: -180px;
	animation-delay: 1.3s, 1.1s;
	z-index: 7;
}

.winterBackGroundSnowflakeD4 {
	animation-name: fall, shake;
	animation-duration: 9s, 3.5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	right: 450px;
	top: -110px;
	animation-delay: 1s, 1.3s;
	z-index: 5;
}

.winterBackGroundSnowflakeD5 {
	animation-name: fall, shake;
	animation-duration: 14s, 3s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 150px;
	top: -130px;
	animation-delay: 0.9s, 1s;
	z-index: 6;
  /* filter: blur(0.5px) */
}

.winterBackGroundSnowflakeD6 {
	animation-name: fall, shake;
	animation-duration: 10s, 2.9s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 600px;
	top: -170px;
	animation-delay: 1.4s, 0.9s;
	z-index: 8;
}

.winterBackGroundSnowflakeD7 {
	animation-name: fall, shake;
	animation-duration: 13s, 2.6s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 100px;
	top: -90px;
	animation-delay: 1.2s, 1.4s;
	z-index: 7;
}

.winterBackGroundSnowflakeD8 {
	animation-name: fall, shake;
	animation-duration: 9s, 3.3s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 550px;
	top: -140px;
	animation-delay: 1.1s, 1.2s;
  font-size: 2rem;
	z-index: 6;
}

.winterBackGroundSnowflakeD9 {
	animation-name: fall, shake;
	animation-duration: 11s, 2.7s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 300px;
	top: -160px;
	animation-delay: 1.3s, 1s;
  font-size: 2rem;
	z-index: 7;
}

.winterBackGroundSnowflakeD10 {
	animation-name: fall, shake;
	animation-duration: 12s, 3.2s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 400px;
	top: -110px;
	animation-delay: 1.1s, 1.3s;
  font-size: 3rem;
	z-index: 6;
}

.winterBackGroundSnowflakeD11 {
	animation-name: fall, shake;
	animation-duration: 9s, 2.8s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	right: 700px;
  font-size: 3rem;
	top: -140px;
	animation-delay: 1.5s, 1.2s;
	z-index: 8;
}

.winterBackGroundSnowflakeD12 {
	animation-name: fall, shake;
	animation-duration: 13s, 3s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 250px;
	top: -170px;
	animation-delay: 1.3s, 1.1s;
	z-index: 7;
}

.winterBackGroundSnowflakeD13 {
	animation-name: fall, shake;
	animation-duration: 11s, 2.5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	right: 520px;
	top: -120px;
	animation-delay: 1.2s, 1.4s;
	z-index: 5;
}

.winterBackGroundSnowflakeD14 {
	animation-name: fall, shake;
	animation-duration: 10s, 3.1s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	right: 600px;
	top: -150px;
	animation-delay: 1s, 1.2s;
	z-index: 7;
}
